/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/

.tips-container {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: 0 auto;
}

.posts-container {
   display: flex;
   flex-direction: column;
   gap: 6rem;
   padding: 5rem 0;
   width: 100%;
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	.tips-container {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
   }
   
   .posts-container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 5rem 0;
      width: 100%;
   }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.tips-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
   }
   
   .posts-container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 5rem 0;
      width: 100%;
   }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 601px) {
	.tips-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
   }
   
   .posts-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 5rem 0;
      width: 100%;
   }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 600px) {
   .tips-container {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: 0 auto;
   }
   
   .posts-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 3.5rem 0;
      width: 100%;
   }
}