/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
.post-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	box-shadow: 0 0 30px var(--blue);
	background-color: white;
	border: none;
}

.text-post-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 10rem;
	flex-grow: 1;
}

.img-div-post {
	width: 60rem;
	height: 50rem;
}

.img-post {
	width: 100%;
	height: 50rem;
	border-radius: 10px 0 0 10px;
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	.text-post-container {
		width: 65%;
		padding: 0rem 4rem;
		flex-grow: 1;
	}
	
	.img-div-post {
		width: 40rem;
		height: 33rem;
	}
	
	.img-post {
		width: 100%;
		height: 33rem;

	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.text-post-container {
		width: 65%;
		padding: 0rem 2rem;
		flex-grow: 1;
	}
	
	.img-div-post {
		width: 40rem;
		height: 33rem;
	}
	
	.img-post {
		width: 100%;
		height: 33rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 601px) {
	.text-post-container {
		width: 65%;
		padding: 0rem 2rem 0 0;
		flex-grow: 1;
	}
	
	.img-div-post {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 27rem;
		height: 33rem;
		padding: 2rem;
	}
	
	.img-post {
		width: 100%;
		height: 20rem;
		border-radius: 0px 0px 0px 0px;
		box-shadow: 0 0 15px 3px var(--blue);
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 600px) {
	.post-container {
		width: 100%;
		flex-direction: column;
		height: auto;
	}
	
	.text-post-container {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1.5rem;
	}

	.title-created-date {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.title-created-date > p {
		text-align: center;
	}
	
	.img-div-post {
		width: 100%;
		height: auto;
		padding: 0;
	}
	
	.img-post {
		width: 100%;
		height: auto;
		border-radius: 10px 10px 0 0;
	}


}