/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
.main-container-token {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.central-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 35%;
}

.central-div > h1 {
  margin: 0;
  font-weight: bold;
  font-size: 5rem;
  padding: 3rem;
  border-radius: 15px;
  background-color: var(--blue);
  color: var(--white);
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 601px) {
	
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 600px) {
	
}
