/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas 4K*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  border-top: solid 1px var(--red);
  width: 80%;
  height: auto;
  margin: 0 auto;
}


/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	.content {
    padding-top: 3rem;
    width: 80%;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.content {
    padding-top: 3rem;
    width: 70%;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 601px) {
	.content {
    padding-top: 2rem;
  }
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 600px) {
	.content {
    padding-top: 2rem;
  }
}